@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100wh;
	height: 100vh;
	overflow-x: hidden;
}

.container {
	margin: auto;
	max-width: 1110px;
	width: 100%;
}

.scroll-container {
	margin: auto;
	max-width: 1110px;
	width: 100%;
}

.banner-container {
	margin: auto;
	max-width: 1110px;
	width: 100%;
}

.header-container {
	margin: auto;
	max-width: 1110px;
	width: 100%;
	overflow: hidden;
}

.footer-container {
	margin: auto;
	max-width: 1110px;
	width: 100%;
}
.btn {
	cursor: pointer;
}

.first-nav {
	background-color: #efefef;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		font-size: 14px;
		padding: 16px 0;
	}

	&__item {
		text-decoration: none;
		color: #333333;
	}
}

.header {
	border-bottom: 1px solid #efefef;
	&__row {
		display: flex;
		align-items: center;
		padding: 20px 0;
	}

	&__logo {
		margin-right: 20px;
	}

	&__title {
		margin-right: auto;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 0.1em;
		color: #66c05d;
	}

	&__phone {
		margin-right: 40px;
		line-height: 19px;
	}

	&__button {
		padding: 12px 26px;
		border-radius: 30px;
		border: 2px solid #66c05d;
		background-color: white;
		font-size: 14px;
		transition: background-color 0.3s ease-in;
	}
	&__button:hover {
		background-color: #66c05d;
		color: white;
	}
}

.second-nav {
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
		font-size: 14px;
		padding: 30px 0;
	}

	&__item {
		text-decoration: none;
		color: #333333;
	}
}

.banner {
	background: url(../assets/background-image.png) no-repeat center;
	height: 600px;
	background-color: #66c05d;

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 600px;
		gap: 50px;
	}

	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		color: white;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 20px;
		color: white;
		width: 310px;
	}

	&__button {
		border-radius: 30px;
		border: 2px solid white;
		background-color: #66c05d;
		font-size: 14px;
		color: white;
		width: 170px;
		padding: 12px 26px;
		transition: background-color 0.3s ease-in;
	}
	&__button:hover {
		background-color: white;
		color: #66c05d;
	}
}

.main-content {
	background-color: #efefef;

	&__header {
		padding-top: 80px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
	}

	&__title {
		line-height: 28px;
	}

	&__row {
		display: flex;
		gap: 30px;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		overflow: hidden;
	}

	&__item {
		width: 255px;
		height: 365px;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	&__item-logo {
		margin-top: 25px;
	}

	&__item-subtitle {
		font-size: 14px;
		text-align: center;
		line-height: 20px;
		color: #333333;
	}

	&__item-price {
		font-size: 21px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #000000;
		font-weight: 500;
	}

	&__item-button {
		color: #ffffff;
		letter-spacing: 0.05em;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		padding: 9px 40px;
		background-color: #66c05d;
		border: none;
		border-radius: 30px;
		transition: background 0.3s ease;
	}
	&__item-button:hover {
		background-color: white;
		color: #66c05d;
		border: 2px solid #66c05d;
	}

	&__feedback {
		display: flex;
		justify-content: center;
		gap: 30px;
		width: 100%;
		margin-top: 100px;
		padding-bottom: 130px;
		flex-wrap: wrap;
	}

	&__mail {
		background-color: #66c05d;
		display: flex;
		align-items: center;
		gap: 25px;
		width: 540px;
	}
	&__mail > img {
		width: 240px;
		padding-right: 40px;
	}

	&__mail-info {
		background-color: #66c05d;
		width: 540px;
		display: flex;
		flex-direction: column;
		padding: 35px 0 35px 40px;
		gap: 25px;
	}

	&__mail-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: white;
		width: 250px;
	}

	&__mail-subtitle {
		text-align: left;
		font-size: 14px;
		line-height: 20px;
		color: white;
		width: 250px;
	}

	&__mail-input {
		border-radius: 30px;
		padding: 9px 0 9px 25px;
		border: none;
		width: 225px;
	}

	&__mail-input:focus {
		outline: none;
	}

	&__map {
		background-color: #66c05d;
		width: 540px;
		display: flex;
		flex-direction: column;
		padding: 35px 0 35px 40px;
		gap: 25px;
	}

	&__map-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: white;
		width: 250px;
	}

	&__map-subtitle {
		text-align: left;
		font-size: 14px;
		line-height: 20px;
		color: white;
		width: 190px;
	}

	&__map-button {
		padding: 9px 28px;
		border: 2px solid white;
		background-color: #66c05d;
		color: white;
		width: 170px;
		border-radius: 30px;
		transition: background 0.3s ease;
	}
	&__map-button:hover {
		background-color: white;
		color: #66c05d;
	}
}

.first-footer {
	padding: 40px 0;
	&__row {
		display: flex;
		align-items: center;
	}

	&__rowOfLogos {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		position: relative;
		margin-right: auto;
	}

	&__phone {
		margin-left: 105px;
		margin-right: 40px;
	}

	&__button {
		padding: 12px 26px;
		border: 2px solid #66c05d;
		background-color: white;
		border-radius: 30px;
		width: 170px;
		transition: background 0.3s ease;
	}
	&__button:hover {
		background-color: #66c05d;
		color: white;
	}
}

.second-footer {
	padding: 25px 0;
	background: #efefef;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		font-size: 12px;
		line-height: 14px;
		color: #828282;
	}

	&__political {
		font-size: 12px;
		line-height: 14px;
		color: #828282;
		cursor: pointer;
	}
}

@media (max-width: 1110px) {
	.main-content {
		&__item {
			width: calc(100% / 4);
		}
		&__mail {
			width: calc(100% / 2.5);
		}
		&__map {
			width: calc(100% / 2.5);
		}
		&__mail > img {
			width: 30%;
			padding-right: 40px;
		}
	}
}

@media (max-width: 1024px) {
	.main-content {
		&__item {
			width: calc(100% / 4);
		}
		&__mail {
			width: calc(100% / 2.4);
		}
		&__map {
			width: calc(100% / 2.4);
		}
		&__mail > img {
			width: 30%;
			padding-right: 40px;
		}
		&__header {
			padding-top: 80px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 16px;
		}
		&__header {
			justify-content: center;
			gap: 320px;
		}
	}
	.banner-container {
		padding: 0 20px;
	}
	.header-container {
		padding: 0 20px;
	}
	.footer-container {
		padding: 0 20px;
	}
}

@media (max-width: 768px) {
	.main-content {
		&__item {
			width: calc(100% / 3);
		}
		&__header {
			justify-content: center;
			gap: 33px;
		}
		&__mail {
			width: calc(100% / 1.3 - 50px);
		}
		&__map {
			width: calc(100% / 1.3 - 50px);
		}
	}
	.first-footer {
		padding: 20px 0;
		&__row {
			flex-direction: column;
			gap: 10px;
		}

		&__rowOfLogos {
			margin: 0;
		}

		&__phone {
			margin: 0;
		}
	}
	.second-footer {
		padding: 25px 0;
		&__row {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: center;
		}
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.main-content {
		&__item {
			width: calc(100% / 1.4 - 20px);
		}
		&__header {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__mail {
			width: calc(100% / 1.3 - 50px);
			flex-direction: column;
			padding: 10px;
		}
		&__mail-info {
			padding: 10px;
			width: 100%;
		}
		&__mail-title {
			width: 100%;
			text-align: center;
		}

		&__mail-subtitle {
			width: 100%;
			text-align: center;
		}

		&__mail-input {
			width: calc(100% / 1.3 - 50px);
			border-radius: 30px;
			padding: 9px 0 9px 5px;
			border: none;
			margin: 0 auto;
		}
		&__mail > img {
			padding: 0;
			margin: 0;
			width: 50%;
		}
		&__map {
			width: calc(100% / 1.3 - 50px);
		}
	}
	.first-footer {
		padding: 20px 0;
		&__row {
			flex-direction: column;
			gap: 10px;
		}

		&__rowOfLogos {
			margin: 0;
		}

		&__phone {
			margin: 0;
		}
	}
	.second-footer {
		padding: 25px 0;
		&__row {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: center;
		}
		&__info {
			text-align: center;
		}
	}
	.header {
		position: relative;
		&__phone {
			position: absolute;
			top: 10px;
			right: 10px;
			margin: 0;
		}
		&__row {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__button {
			margin: auto;
			margin-top: 10px;
		}
		&__title {
			margin: 0;
		}
	}
	.first-nav {
		&__row {
			flex-wrap: wrap;
			gap: 20px;
		}

		&__item {
			font-size: 16px;
			text-decoration: none;
			color: #333333;
		}
	}
	.second-nav {
		&__row {
			gap: 20px;
			flex-wrap: wrap;
		}

		&__item {
			font-size: 18px;
			text-decoration: none;
			color: #333333;
		}
	}
	.banner {
		&__subtitle {
			font-size: 20px;
			width: 70%;
		}

		&__button {
			border: 2px solid #84d175;
		}
	}
}
